@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');




body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://media.istockphoto.com/id/1063350274/photo/old-white-paper.jpg?s=612x612&w=0&k=20&c=iPjzjEWNOVVemZALSIQj_N46RNW7rvVN3_cjsnMGCpg=");
  background-position: center center;
}

.paper {
  background-image: url("https://img.pikbest.com/wp/202344/crumpled-paper-texture-background-recycled-with-appearance_9923149.jpg!sw800");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
  touch-action: none;
  user-select: none;
}
.paper.heart {
  position: relative;
  width: 80px; /* or whatever size your paper image has */
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background-size: cover;
  background-position: center;
}
.btncon{
  display: flex;
  gap: 10px;
}
.btn {
  margin: 20px;
  padding: 10px;
  font-size: medium;
  width: 100px;
  font-weight: 700;
  background: rgb(60, 58, 58);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}
.btn:hover{
  background: pink;
  color: black;
  transition: 0.7s;

}
.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

/*.paper.heart::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}*/

p {
  font-family: 'Edu SA Hand';
  font-size: 30px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  
  // filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}
